<mat-card>
    <mat-card-header>
        <mat-card-title style="align-content: center;">Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <!-- Form Wrapper -->
        <form (ngSubmit)="loginUser()">
            <!-- Username Field -->
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="userData.Username" name="Username" required />
            </mat-form-field>

            <!-- Password Field -->
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="userData.Password" type="password" name="Password" required />
            </mat-form-field>

            <!-- Submit Button -->
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">
                    Login
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>
